<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Drew_Sullivan_HA_iOS_Project.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A56507221D517D300B764D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A56508621D517D400B764D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ACA674521D7BC9B00AE99E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
